*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.nav{
    width: 100vw;
    min-height: 50px;
    background-color: rgb(22, 24, 43);
    color: white;
    font-size: 10px;
    position: sticky;
    top:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#playlist{
    grid-column: 1 / -1;
    justify-self: center;
    display: none;
}
.flex-f{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.play-grid{
    display: grid;
    grid-template-columns: minmax(20px, 30px) minmax(50px, 250px);
    grid-row-gap: 5px;
    margin-bottom: 20px;
}
.play-grid .subtitle{
    grid-column: 1 / 3;
    margin-bottom: 10px;
}
h1{
    margin-bottom: 18px;
    align-self: end;
    margin-left: 10px;
    background:linear-gradient(to left,#db1178,#c90021);
    -webkit-background-clip:text;
    color:transparent;font-weight:600;
}
h1::before{
    content: "Alejandro";
    color: white;
}
.play-grid h4{
    grid-column: 1 / 3;
    margin-bottom: 10px;
}
.play-grid .user-text{
    margin-left: 10px;
}
.user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user{
    align-self: center;
    margin-bottom: 5px;
}
.nav .icon{
    justify-self: end;
    align-self: center;
    padding: 12px;
    background-color: none;
    color: white;
    font-size:x-large;
}








.contenedor{
    width: 100%;
    height: auto;
}

.video{
    width: 100%;
    height: 300px;
}

.video-play{
    width: 100%;
    height: 200px;
    background-color: darkgrey;
    margin-bottom: 4px;
}
.video-play .relative{
    border: none;
    position: relative;
}
.pos{
    position: absolute;
    top:5%;
    left: 2%;
    font-size: 15px;
    color: white;
}
.post{
    position: absolute;
    top:45%;
    left: 45%;
    font-size: 30px;
    color: white;
}
.video-play .sombra{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    background: rgba(0, 0,0, .4);
    display: none;
    cursor: pointer;
}
.video-play:hover .sombra{
    display: block;
}
.video-play figure{
    background-image: url("./Imgs/droneflyernick-5d4JLCPWCXg-unsplash.jpg");
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.video-titulo{
    font-size: 10px;
    display: grid;
    grid-template-rows: repeat(4, 20px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-left: 10px;
}
.titulo{
    grid-column: 1 / -1;
    grid-row: 1;
    font-weight: 400;
}
.com, .share{
    text-align: center;
}
.f{
    grid-column: 1 / -1;
    grid-row: 2;

}
.ag{
    grid-row: 3;
    grid-column: 1 / 3;
    font-size: 10px;
    width: 115px;
    height: 21px;
    border: none;
    background: linear-gradient(to left,#db1178,#c90021);
    border-radius: 10px;
    color: white;
}


.video-titulo .b1{
    grid-row: 4;
    width: 69px;
    border-radius: 20px;
    border:none;
    outline: none;
    background-color: #965bf2;
    color: white;
    border-radius: 10px;
}
.video-titulo .b2{
    grid-row: 4;
    width: 69px;
    border:none;
    outline: none;
    background-color: #1ce7c4;
    color: white;
    border-radius: 10px;
}
.video-titulo .b3{
    grid-row: 4;
    width: 69px;
    border:none;
    outline: none;
    background-color: #ae030b;
    color: white;
    border-radius: 10px;
}
.video-titulo .r{
    grid-row: 4;
    width: 69px;
    border:none;
    outline: none;
    background-color: #fe5f96;
    color: white;
    border-radius: 10px;
}


.video-titulo button{
    cursor: pointer;
}
.coment{
    width: 100%;
    height: auto;
    background-color: chartreuse;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
   
}

.comentarios{
    width: 100%;
    height: 200px;
    background-color: cornsilk;
}

.sugerencia{
    width: 100%;
    height: 200px;
    background-color: darkgreen;
}

